---
import { Image } from "astro:assets";
import { supabase } from "../db/supabase";

import Layout from "../layouts/Layout.astro";
import { Skeleton } from "@/components/ui/skeleton.tsx";

const { data: thumbnails, error } = await supabase
  .from("images")
  .select("*")
  .eq("folder", "thumbnails");

const { data: banner } = await supabase
  .from("images")
  .select("*")
  .eq("folder", "banner")
  .eq("name", "gallery_banner");
---

<Layout>
  <main>
    <section class="relative text-center">
      {
        banner && banner.length > 0 ? (
          <Image
            src={banner[0].url}
            alt={banner[0].alt_text}
            height={2700}
            width={6000}
            class="bg-fixed aspect-[10/5] object-cover"
          />
        ) : (
          <Skeleton className="aspect-[10/5]" />
        )
      }
      <div class="absolute top-0 left-0 w-full h-full bg-secondary/30">
        <h1
          class="absolute text-2xl font-extrabold tracking-tight text-white transform -translate-x-1/2 -translate-y-1/2 md:text-6xl lg:text-9xl top-1/2 left-1/2"
          transition:name="gallery-title"
        >
          Gallery
        </h1>
      </div>
    </section>
    <section class="container my-12 text-xl text-center">
      <p class="pb-8 text-sm md:text-lg">
        Here are some of the photos I've taken over the years. Hover to view the
        categories
      </p>
      <div class="grid grid-cols-1 gap-4 md:grid-cols-2">
        <!-- Gallery Thumbnails -->
        {
          thumbnails?.map((thumbnail) => (
            <div class="relative max-h-[50vh] max-w-[50vh] group mx-auto">
              <a
                href={thumbnail.href}
                target="_blank"
                rel="noopener noreferrer"
              >
                <Image
                  src={thumbnail.url}
                  alt={thumbnail.name}
                  height={2000}
                  width={2000}
                  class="object-cover w-full h-full bg-cover rounded-md aspect-square"
                />

                <div class="absolute inset-0 flex items-center justify-center transition-opacity duration-300 ease-out rounded-md opacity-0 group-hover:opacity-100 bg-secondary/60">
                  <p class="text-lg font-bold text-white md:text-xl lg:text-3xl">
                    {thumbnail.name}
                  </p>
                </div>
              </a>
            </div>
          ))
        }
      </div>
    </section>
  </main>
</Layout>
