---
import BaseHead from "../components/BaseHead.astro";

export interface Props {
  content: {
    title: string;
    description: string;
    pubDate?: string;
    updatedDate?: string;
    heroImage?: string;
  };
}

const {
  content: { title, description, pubDate, updatedDate, heroImage },
} = Astro.props as Props;
---

<html>
  <head>
    <BaseHead title={title} description={description} />
  </head>

  <body
    class="dark:bg-nero text-nero bg-floral-white w-3/4 sm:w-2/3 mx-auto dark:text-floral-white align-middle h-screen"
  >
    <main>
      <article class="m-8">
        <a class="text-base underline" href="/blog">Go Back</a>
        {
          heroImage && (
            <img width={720} height={360} src={heroImage} alt="" class="mt-8" />
          )
        }
        <h1 class="text-2xl mt-2">{title}</h1>
        {pubDate && <time>{pubDate}</time>}
        {
          updatedDate && (
            <div>
              Last updated on <time>{updatedDate}</time>
            </div>
          )
        }
        <hr class="my-2" />
        <slot />
      </article>
    </main>
  </body>
</html>
