---
import Footer from "@/components/Footer.astro";
import Navbar from "@/components/Navbar.astro";
import "@/styles/globals.css";
import { ViewTransitions } from "astro:transitions";
import { defaultMeta } from "@/data/socials.ts";

interface Props {
  title?: string;
  description?: string;
}

const { title, description = defaultMeta.description } = Astro.props;

const canonicalURL = new URL(Astro.url.pathname, Astro.site);

const getDefaultTitle = () => {
  const pathName = Astro.url.pathname.replace("/", "");
  return pathName.charAt(0).toUpperCase() + pathName.slice(1);
};

const finalTitle = title || getDefaultTitle();
---

<script is:inline>
  const getThemePreference = () => {
    if (typeof localStorage !== "undefined" && localStorage.getItem("theme")) {
      return localStorage.getItem("theme");
    }
    return window.matchMedia("(prefers-color-scheme: dark)").matches
      ? "dark"
      : "light";
  };
  const isDark = getThemePreference() === "dark";
  document.documentElement.classList[isDark ? "add" : "remove"]("dark");

  if (typeof localStorage !== "undefined") {
    const observer = new MutationObserver(() => {
      const isDark = document.documentElement.classList.contains("dark");
      localStorage.setItem("theme", isDark ? "dark" : "light");
    });
    observer.observe(document.documentElement, {
      attributes: true,
      attributeFilter: ["class"],
    });
  }

  // Add this block
  document.addEventListener("astro:after-swap", () => {
    const isDark = getThemePreference() === "dark";
    document.documentElement.classList[isDark ? "add" : "remove"]("dark");
  });
</script>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

    <!-- SEO Meta Tags -->
    <meta name="title" content={finalTitle} | satori.arw />
    <meta name="description" content={description} />

    <!-- Open Graph Meta Tags -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content={canonicalURL} />
    <meta property="og:title" content={finalTitle} | satori.arw />
    <meta property="og:description" content={description} />
    <meta
      property="og:image"
      content="https://satoriarw.vercel.app/images/og.png"
    />
    <meta property="og:locale" content="en_US" />

    <!-- Twitter Meta Tags -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content={canonicalURL} />
    <meta property="twitter:title" content={finalTitle} | satori.arw />
    <meta property="twitter:description" content={description} />
    <meta
      property="twitter:image"
      content="https://satoriarw.vercel.app/images/og.png"
    />

    <!-- Generator Meta Tag -->
    <meta name="generator" content={Astro.generator} />
    <title>{finalTitle} | satori.arw</title>
    <link href="/pagefind/pagefind-ui.css" rel="stylesheet" />
    <script src="/pagefind/pagefind-ui.js" is:inline></script>
    <ViewTransitions />
  </head>
  <Navbar />
  <body
    class="antialiased">
    <slot />
  </body>
  <Footer />
  <style>
    nav {
      -ms-overflow-style: none; /* Internet Explorer 10+ */
      scrollbar-width: none; /* Firefox */
    }
    nav::-webkit-scrollbar {
      display: none; /* Safari and Chrome */
    }
    :root {
      --pagefind-ui-primary: #d8d8d8;
      --pagefind-ui-secondary: #d8d8d8;
      --pagefind-ui-background: #1d1f21;
      --pagefind-ui-border: #2b2b2b;
      --pagefind-ui-tag: #d8d8d8;
      --pagefind-ui-text: #d8d8d8;
      --pagefind-ui-font:"
    InterVariable",
    "Inter",
    sans-serif;
    }
    <
    style
  >
  </body>
</html>
